/* body {
  background: #222;
} */

.arrow {
  opacity: 0;
  position: absolute;
  left: 48%;
  top: 0%;
  transform-origin: 50% 50%;
  transform: translate3d(20%, 0%, 0);
  height: 1rem;
  top: .5rem;
}

.arrow-first {
  -webkit-animation: arrow-movement 3s ease-in-out infinite;
          animation: arrow-movement 3s ease-in-out infinite;
}

.arrow-second {
  -webkit-animation: arrow-movement 3s 1s ease-in-out infinite;
          animation: arrow-movement 3s 1s ease-in-out infinite;
}
.arrow-ter {
  -webkit-animation: arrow-movement 3s 1s ease-in-out infinite;
          animation: arrow-movement 3s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #fff;
  content: "";
  display: block;
  height: 1.5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
}

.arrow:before {
  transform: rotate(135deg) translateX(-80%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-135deg) translateX(80%);
  transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 100%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 100%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}







/* ball */
/* .view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 400;
}

.plane {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
}
.plane.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 30s infinite linear;
          animation: rotate 30s infinite linear;
}
.plane.main .circle {
  width: 100px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px #ffffff, inset 0 0 60px #ffffff;
}
.plane.main .circle::before, .plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2%;
  height: 2%;
  border-radius: 100%;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px #ffffff;
}
.plane.main .circle::before {
  transform: translateZ(-90px);
}
.plane.main .circle::after {
  transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
  transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
  transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
  transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
  transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
  transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
} */